@redT: #A70D1C;
@greenT: #0da664;
@wine: rgb(178, 18, 64);

@formRequired: #282828;
@formOptional: #5d5d5d;
@formError: #CC3333;

@footerLinks: #fcfcfc;

@postEditableBackground: #ffffff;
@postEditingBackground: #fffcf0;

@import "../vendor/elements/elements.less";

form {
    .required {
        color: @formRequired;
    }

    .optional {
        color: @formOptional;
    }
    .errors {
        font-weight: bold;
        color: @formError;/* Persian red */
    }
}

/* = Upload form */
form input[type="file"]
{
    display: block;
}

html
{
    background: @redT;
}

body
{
    overflow: -moz-scrollbars-vertical;
    overflow-x: auto;
    overflow-y: scroll;
}

.content {
    min-height: 400px;
}

.search-tips {
    position: absolute;
    z-index: 22000;
    margin-top: 36px;
    list-style: none;
    background: #fafafa;
    background: rgba(250, 250, 250, 0.97);
    li {
        padding: 5px;
        padding-left: 35px;
        color: @formOptional;
        font-weight: bold;
        cursor: pointer;
        border: 1px solid #fdfdfd;
    }

    .active {
        color: #ffffdd;
        background: #53a3e1;
    }
}

.search-box {
    width: 300px;
    margin: 0 auto;
    margin-top: -36px;
    position: absolute;
}

.search-box-fixed {
    z-index: 1040;
}

.search-text {
    background: url("../images/magnifying-glass-icon.png") #fff no-repeat;
    background-position: 10px 5px;
    z-index: 11;
    position: absolute;
    padding-left: 35px !important;
}

@media (min-width : 767px) {
    .navbar {
        .navbar-inner a {
            &,&:link, &:visited, &:active, &:hover {
                color: #ffffff;
            }
        }
        .dropdown-menu a {
            &,&:link, &:visited {
                color: #4995cd;
            }
            &:active, &:hover {
                color: #ffffff;
            }
        }
    }
    .navbar-login-well {
        padding: 15px;
        margin-bottom: 0;
    }
    .navbar-login-submit {
        text-align: right;
    }
    .navbar-logout-link {
        background: #fff !important;
        &:active, &:hover {
            background: @redT !important;
        }
    }
}

.navbar-fixed-top-override {
    position: static;
}

.site-logotype {
    text-align: center;
    border-top: 8px solid @redT;
}

@media (max-width : 767px) {
    .site-logotype {
        display: none;
        visibility: invisible;
    }
}

.post-seller-address {
    background-color: #ffffff;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
    -moz-box-shadow: 1px 1px 8px #efefef;
    -webkit-box-shadow: 1px 1px 8px #efefef;
    box-shadow: 1px 1px 8px #efefef;
    margin-bottom: 0;
    ul {
        margin-left: 0;
        list-style-type: none;
    }
}

.map-link {
    background: url(../images/maps-icon.png) no-repeat;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    text-decoration: none;
}

.map-iframe {
    width: 530px;
    height: 350px;
}

.aside-similar-offers {
    padding: 0 0 5px 10px;
    .bw-gradient(#ffffff, 250, 255);
	.drop-shadow(0, 1px, 2px, 0.2);
	dd {
        margin-left: 0;
	    ul {
            li {
                color: #969696;
                list-style-type: none;
            }
            margin-left: 0;
        }
    }
    .label {
        white-space: normal;
        margin-right: 10px;
    }
}

.hidden
{
    visibility: hidden;
}

/* http://www.webaim.org/techniques/css/invisiblecontent/ */
.hidden-from-gui
{
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.hidden-ref {
    display: none !important;
}

.footer {
    font-size: 75%;
    margin-top: 120px;
    padding-top: 20px;
    img {
        background: #fff;
        padding: 4px;
        .rounded(3px)
    }
	a {
        color: @footerLinks;
        &:active, &:hover {
            color: #777;
        }
    }
    background: @redT;
}

@media (max-width : 767px) {
    .footer {
        width: 100%;
        margin-left: -20px;
        padding-right: 40px;
    }
}

@media (min-width : 480px) {
    a[href^=tel] {
        color: inherit;
        text-decoration: none;
        cursor: text;
    }
}

.post-listing-details {
    color: #000;
}

.post-listing-price {
    font-size: 120%;
    font-weight: bold;
    color: @redT;
    vertical-align: bottom;
}

.special-items {
    font-weight: bold;
}

input.no-spin-button::-webkit-outer-spin-button,
input.no-spin-button::-webkit-inner-spin-button {
    display: none;
}

.fix-sized-textarea {
    resize: none;
}

.post-contact {
    margin-top: 10px;
    padding-left: 10px;
}

.post-contact .form-actions {
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

.post-product-name-editing-area {
    margin-bottom: 5px;
}

.post-product-name {
    font-size: 130%;
    margin: 0;
    margin-top: -6px;
}

.post-product-name-id {
    font-weight: normal;
    color: #ccc;
}

@media (max-width : 480px) {
    .post-product-name {
        font-size: 115%;
    }

    .post-product-price-edit {
        max-width: 107px;
    }

    .vcard img {
        zoom: 0.7;
    }
}

#uploadFilesButtonContainer, #selectFilesButtonContainer, #overallProgress {
    display: inline-block;
}

#overallProgress {
    float: right;
}

.drop-zone {
    background: #ffffed;
    color: #8a8a8a;
}

.galleria {
    max-width: 600px;
    height: 400px;
    @media (max-width : 480px) {
        height: 280px;
    }
}

.galleria-container-background {
    background:
        linear-gradient(27deg, #010101 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #010101 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #0a0a0a 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #0a0a0a 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #0b0b0b 10px, transparent 10px),
        linear-gradient(#0d0d0d 25%, #0a0a0a 25%, #0a0a0a 50%, transparent 50%, transparent 75%, #020202 75%, #020202);
    background-color: #030303;
    background-size: 20px 20px;
}

.galleria-container {
    .rounded(3px);
    .galleria-container-background();
}

.galleria-image img {
    cursor: pointer;
}

.galleria-counter {
    opacity: 0 !important;
}

.galleria-counter {
    opacity: 0 !important;
}

.galleria-image-nav-left, .galleria-image-nav-right {
    opacity: 0;
    &:active, &:hover {
        opacity: 0.15 !important;
    }
}

.post-thumbnail {
    &:active, &:hover {
        text-decoration: none;
    }
}

.gallery-manager-main-buttons {
    margin-top: 8px;
}

.post-gallery-manager {
    .pictures-thumbnails {
        display: inline-block;
        margin-top: 20px;
        padding-bottom: 20px;
        background: #ffffb3;
        .rounded(4px);
    }

    .pictures-thumbnails .picture {
        margin-top: 20px;
        position: relative;
        .galleria-container-background();
        text-align: center;
        width: 150px;
        height: 100px;
        float: left;
    }

    .pictures-thumbnails .picture .actions {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        padding: 2px;
        box-sizing: border-box;
        font-size: 90%;
        background: rgba(167, 13, 28, 0.78);
        cursor: pointer;
        &:hover {
            background: rgba(167, 13, 28, 0.95);
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
        }
    }

    img {
        cursor: move;
    }

    .not-touch .pictures-thumbnails .picture .actions {
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
    }

    .not-touch .pictures-thumbnails .picture:hover .actions {
        opacity: 1;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
    }

    .youtube-logo {
        background: url("../images/youtube-icon.png") transparent no-repeat;
        width: 69px;
        height: 30px;
        float: left;
    }

    .video-link {
        background: #ffffff;
        .transition(1.5s, ease-in-out);
    }

    .video-link-feedback-done {
        background: rgb(199, 237, 222);
        .transition(1.5s, ease-in-out);
    }

    .video-link-feedback-fail {
        background: rgb(235, 203, 197);
        .transition(1.5s, ease-in-out);
    }
}

.post-product-main-info-parent {
    @media (min-width : 767px) {
        float: right;
        box-sizing: border-box;
        padding-left: 5px;
        border: 1px solid #f4f4f4;
        border-top: none;
    }
}

.post-product-info {
    padding: 0 10px;
    margin-top: 17px;
}

.post-product-info-price {
    border-bottom: 1px solid #f0f0f0;
}

.equipment-header {
    color: @redT;
    border-bottom: 4px solid @redT;
    margin-top: 16px;
    margin-bottom: 6px;
}

.post-product-info-editing-area {
    margin-top: 20px;

    .price-input {
        zoom: 1.7;
    }

    .year-km-inputs {
        margin-top: 6px;
    }

    .equipment {
        @media (min-width : 767px) {
            -moz-column-count: 2;
            -moz-column-gap: 20px;
            -o-column-count: 2;
            -o-column-gap: 20px;
            -webkit-column-count: 2;
            -webkit-column-gap: 20px;
            column-count: 2;
            column-gap: 20px;
        }
    }
}

.post-product-info-others .label-checkbox {
    display: inline;

    .has-not {
        background: #ddd;
    }
}

.label-handicapped {
    background: rgb(0, 0, 255);
}

.icon-vehicle-adapted {
    background: url("../images/handicapped-icon.png") transparent no-repeat;
}

.post-equipments-list {
    margin-top: 0;
    .has {
        color: #6a6a6a;
    }
    .has-not {
        color: #c7c7c7;
    }

    &.uneditable {
        input {
            cursor: default;
        }

        label {
            cursor: text;
        }
    }

    dd {
        margin-left: 0;
    }

    ul {
        background: #fafafa;
        list-style-type: none;
        margin-left: 0;
        -moz-column-rule-color:  #f3f3f3;
        -moz-column-rule-style:  solid;
        -moz-column-rule-width:  1px;
        -webkit-column-rule-color:  #f7f7f7;
        -webkit-column-rule-style: solid;
        -webkit-column-rule-width:  1px;
        @media (min-width : 400px) {
            -moz-column-count: 2;
            -moz-column-gap: 20px;
            -o-column-count: 2;
            -o-column-gap: 20px;
            -webkit-column-count: 2;
            -webkit-column-gap: 20px;
            column-count: 2;
            column-gap: 20px;
        }
    }

    li {
        padding-left: 5px;
    }

    .muted {
        color: #eaeaea;
    }
}

.post-info-tabs {
    margin-top: 10px;
    margin-bottom: 0;
    background: #fafafa;
    .gradient(#fbfbfb, #fafafa, #f4f4f4);
    padding-top: 8px;
    padding-left: 8px;
    .border-radius(3px, 0, 0, 3px);

    li {
        margin-right: 15px;
    }

    a {
        background: rgb(230, 230, 230);
        background: rgba(255, 255, 255, 0.3);
        color: #555;
    }
}

.post-editable {
    min-height: 40px;
    background: @postEditableBackground;

    -webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    -o-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
    &:hover {
        background: @postEditingBackground;
        cursor: pointer;
    }
}

.post-product-tab {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.post-description-text {
    margin-top: 5px;
    padding: 5px 7px;
}

.post-description-text-edit {
    background: @postEditingBackground;
    resize: vertical;
    width: 95%;
    margin-top: 5px;
}

.proposal-textarea {
    resize: vertical;
    width: 95%;
}

.posts-table-view {
    cursor: pointer;
}

.sharing-no-faces {
    height: 20px;
    padding-bottom: 10px;
}

.sharing {
    height: 88px;
    padding-top: 4px;
}

::selection {
    color: #fafafa;
    background: #3f7cab; /* Safari */
}
::-moz-selection {
    color: #fafafa;
    background: #3f7cab; /* Firefox */
}
