@redT: #A70D1C;
@greenT: #0da664;
@wine: rgb(178, 18, 64);

@formRequired: #282828;
@formOptional: #5d5d5d;
@formError: #CC3333;

@footerLinks: #fcfcfc;

@postEditableBackground: #ffffff;
@postEditingBackground: #fffcf0;

@import "../vendor/elements/elements.less";

form {
    .required {
        color: @formRequired;
    }

    .optional {
        color: @formOptional;
    }
    .errors {
        font-weight: bold;
        color: @formError;/* Persian red */
    }
}

/* = Upload form */
form input[type="file"]
{
    display: block;
}

html
{
}

body
{
    overflow: -moz-scrollbars-vertical;
    overflow-x: auto;
    overflow-y: scroll;
}

@media (min-width : 767px) {
    .navbar {
        .navbar-inner a {
            &,&:link, &:visited, &:active, &:hover {
                color: #ffffff;
            }
        }
        .dropdown-menu a {
            &,&:link, &:visited {
                color: #4995cd;
            }
            &:active, &:hover {
                color: #ffffff;
            }
        }
    }
    .navbar-search label {
        cursor: pointer;
    }
    .navbar-login-well {
        padding: 15px;
        margin-bottom: 0;
    }
    .navbar-login-submit {
        text-align: right;
    }
    .navbar-logout-link {
        background: #fff !important;
        &:active, &:hover {
            background: @redT !important;
        }
    }
}

.navbar-fixed-top-override {
    position: static;
}

.site-logotype {
    padding-top: 14px;
    padding-bottom: 20px;
    text-align: center;
    border-top: 16px solid @redT;
}

@media (max-width : 767px) {
    .site-logotype {
        display: none;
        visibility: invisible;
    }
}

.post-seller-address {
    margin-bottom: 0;
    ul {
        margin-left: 0;
        list-style-type: none;
    }
}

.map-link {
	&, &:link, &visited, &:active, &:hover {
	    color: @greenT;
	    text-decoration: none;
    }
}

.aside-similar-offers {
    padding: 0 0 5px 10px;
    .bw-gradient(#ffffff, 250, 255);
	.drop-shadow(0, 1px, 2px, 0.2);
	dd {
        margin-left: 0;
	    ul {
            li {
                color: #969696;
                list-style-type: none;
            }
            margin-left: 0;
        }
    }
}

.hidden
{
    visibility: hidden;
}

/* http://www.webaim.org/techniques/css/invisiblecontent/ */
.hidden-from-gui
{
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.hidden-ref {
    display: none !important;
}

.footer {
    font-size: 75%;
    padding-top: 20px;
    img {
        background: #fff;
        padding: 4px;
        .rounded(3px)
    }
	a {
        color: @footerLinks;
        &:active, &:hover {
            color: #777;
        }
    }
    background: @redT;
}

@media (max-width : 767px) {
    .footer {
        width: 100%;
        margin-left: -20px;
        padding-right: 40px;
    }
}

@media (min-width : 480px) {
    a[href^=tel] {
        color: inherit;
        text-decoration: none;
        cursor: text;
    }
}

.post-listing-details {
    color: #000;
}

.post-listing-price {
    font-size: 120%;
    font-weight: bold;
    color: @redT;
    vertical-align: bottom;
}

.special-items {
    font-weight: bold;
}

input.no-spin-button::-webkit-outer-spin-button,
input.no-spin-button::-webkit-inner-spin-button {
    display: none;
}

.fix-sized-textarea {
    resize: none;
}

.vcard-image {
    margin-right: 5px;
}

.post-contact {
    padding-left: 10px;
}

.post-product-name {
    margin-bottom: 0;
}

@media (max-width : 480px) {
    .post-product-name {
        font-size: 115%;
    }

    .post-product-price-edit {
        max-width: 107px;
    }

    .post-breadcrumb {
        padding: 2px 5px;
        font-size: 70%;
    }

    .vcard img {
        zoom: 0.7;
    }
}

@media (min-width : 481px) {
    .post-breadcrumb {
        margin-top: 19px;
    }
}

.post-thumbnail {
    &:active, &:hover {
        text-decoration: none;
    }
}

.post-pictures-thumbnails {
    height: 58px;
    overflow: scroll;
    //display: table-cell;
    margin: 0;
    //height: 478px;
    overflow: scroll;
}

.post-pictures-thumbnails li {
    //display: inline-table;
    //dispaly: inline;
    float: left;
    list-style-type: none;
    margin: 0;
    &.post-upload {
        cursor: pointer;
    }
    &.post-picture {
        cursor: pointer;
    }
    &.post-picture-move {
        cursor: move;
    }
}

.thumbnail-info-picture {
    position: relative;
    margin-top: -20px;
    padding: 0 5px;
    display: table;
}

.thumbnail-info-picture-top-large {
    position: absolute;
    font-weight: bold;
    text-align: center;
    width: 75px;
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.thumbnail-remove-picture {
    position: absolute;
    font-weight: bold;
    color: #fff;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.picture-disabled img {
    opacity: 0.5;
}

.post-picture {
    position: relative;
}

.post-picture:hover .thumbnail-remove-picture {
    color: #fff;
    background: #bd362f;
}

.post-pictures-carousel {
    margin: 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(240, 240, 240, 1);
    box-shadow: 0px 0px 2px 2px rgba(240, 240, 240, 1);
}

.post-product-main-info-parent {
    @media (min-width : 767px) {
        float: right;
    }
}

//@todo .post-product-equipment-list e .product-equipment-list no partial-product-main-info: mudar nomes
.post-product-equipment-list {
    list-style-type: none;
    margin-left: 0;

    /*li {
        min-width: 30%;
        float: left;
        @media (max-width : 480px) {
            width: 100%;
        }
    }*/
}

.post-product-info-editing-area .equipment {
    @media (min-width : 767px) {
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -o-column-count: 2;
        -o-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
    }
}

.post-equipments-list {
    dd {
        margin-left: 0;
    }

    ul {
        list-style-type: none;
        margin-left: 0;
        -moz-column-rule-color:  #f3f3f3;
        -moz-column-rule-style:  solid;
        -moz-column-rule-width:  1px;
        -webkit-column-rule-color:  #f7f7f7;
        -webkit-column-rule-style: solid;
        -webkit-column-rule-width:  1px;
        @media (min-width : 480px) {
            -moz-column-count: 2;
            -moz-column-gap: 15px;
            -o-column-count: 2;
            -o-column-gap: 20px;
            -webkit-column-count: 2;
            -webkit-column-gap: 15px;
            column-count: 2;
            column-gap: 15px;
        }
    }

    .muted {
        color: #eaeaea;
    }
}

.post-editable {
    min-height: 40px;
    background: @postEditableBackground;

    -webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    -o-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
    &:hover {
        background: @postEditingBackground;
        cursor: pointer;
    }
}

.post-description-text-edit {
    background: @postEditingBackground;
    resize: vertical;
    width: 95%;
}

::selection {
    color: #fafafa;
    background: #3f7cab; /* Safari */
}
::-moz-selection {
    color: #fafafa;
    background: #3f7cab; /* Firefox */
}
