# based on https://github.com/github/gitignore
# nodejs
node_modules
pids
npm-debug.log
# build
build/api/xml
build/api/docs
build/code-browser
build/coverage
build/logs
build/pdepend
static/build
cache.properties
.settings
.project
.buildpath
# Mac
.DS_Store
.Spotlight-V100
.Trashes
# KDE
.directory
# Vim
.*.sw[a-z]
*.un~
Session.vim
/nbproject
.idea

