<div class="row<%- (isTouch) ? ' touch' : ' not-touch' %>">
<div class="span9">
<ul class="pictures-thumbnails unstyled">
    <%= picturesDiv %>
</ul>
    <form class="video-form form-inline">
    <div class="input-append">
        <label class="youtube-logo" for="video-link"><span class="hidden">YouTube</span></label>
        <input class="input-field-feedback video-link span4" id="video-link" type="text" placeholder="Link do vídeo" value="<%- videoLink %>" maxlength="100">
        <button class="btn" type="submit"><i class="icon-ok"></i><span class="hidden">Enviar</span></button>
    </div>
    </form>
</div>
</div>