html { background: #91cbe2 url(http://static.plifk.com/images/bg.v2.png) repeat-x fixed; }
body {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-x: auto;
  color: #333333;
}
#bd, #hd { background: #ffffff; }
#hd { padding-bottom: 3em; }
#hd {
  padding-left: 2em;
  padding-right: 2em;
}
a, table, p, dl { font-family: Helvetica, Arial, Sans-Serif; }
#hd ol { font-family: Helvetica, Arial, Sans-Serif; }
#hd ul { font-family: Helvetica, Arial, Sans-Serif; }
#nav-bar ul { font-family: Helvetica, Arial, Sans-Serif; }
table, p, dl { line-height: 1.5em; }
#hd ol { line-height: 1.5em; }
#hd ul { line-height: 1.5em; }
form label { font-size: 102%; }
form input[type=text] {
  font-size: 105%;
  color: #2b2b2b;
}
form input[type=password] {
  font-size: 105%;
  color: #2b2b2b;
}
form input[type=text] { width: 20em; }
form input.smallfield { width: 10em; }
input[type=submit], input[type=reset] {
  padding-left: 1em;
  padding-right: 1em;
  min-width: 5em;
  width: auto;
}
#tagsSubmit {
  padding: 0;
  min-width: 0;
}
form textarea {
  font-size: 105%;
  color: #2b2b2b;
  line-height: 1.5em;
}
input[type=submit].likelink {
  border: none;
  background: none;
  font-weight: bold;
  color: red;
  cursor: pointer;
  padding: 0;
}
hr {
  border: none;
  border-bottom: #b0b0b0 1px solid;
}
img { vertical-align: bottom; }
p {
  text-align: justify;
  margin-top: 1.5em;
}
#comments p { margin-top: 0; }
.monospace { font-family: monospace; }
.somehtml ins { text-decoration: underline; }
h2 { font-size: 140%; }
h3 { margin-top: 2.4em; }
h4 { margin-top: 2em; }
dl dd p { margin-top: 0; }
form p { margin-top: 0; }
form .required { color: #242bab; }
form .optional { color: #707070; }
form .errors {
  color: #cc3333;
  font-weight: bold;
}
.ok { color: #008000; }
.hidden { visibility: hidden; }
.hidden-from-gui {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.joinconfirm { padding-top: 120px; }
.joinfirststep { padding-top: 110px; }
a:link { color: #155bff; }
a:visited { color: #155bff; }
a:hover { color: #0e1de7; }
a:active { color: #081493; }
.warning, a.warning { color: red; }
#ft a { text-decoration: none; }
.rssicon {
  background: url(http://static.plifk.com/images/sprites0.v1.png) no-repeat;
  background-position: -10px -96px;
  padding-left: 20px;
}
.longbreak { margin-top: 4em; }
.nodescr {
  color: #afafaf;
  font-weight: bold;
  font-style: italic;
}
textarea {
  width: 35em;
  height: 15em;
}
div.pages {
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}
div.pagination span {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.5em;
  border: 1px solid #efefef;
}
div.pagination a {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.5em;
  border: 1px solid #efefef;
}
div.pagination a:active { background: #f8f8f8; }
div.pagination a:hover { background: #f8f8f8; }
div.pages .Results {
  margin-top: 1em;
  margin-left: 1.6em;
  color: #7d7d7d;
}
div.pages .pagination .this-page {
  color: #aaaaaa;
  font-weight: bold;
}
div.pages .pagination .Prev { margin-right: 2em; }
div.pages .pagination .Next { margin-left: 2em; }
div.pages .pagination .AtStart { color: #dddddd; }
div.pages .pagination .AtEnd { color: #dddddd; }
#logo h1 {
  margin: 0;
  margin-left: 0.8em;
  margin-bottom: 0.15em;
  width: 150px;
  height: 57px;
  font-size: 250%;
  font-weight: normal;
  overflow: hidden;
  display: block;
}
#logo h1 a {
  width: 150px;
  height: 57px;
  position: relative;
  text-decoration: none;
  display: block;
}
#logo h1 a span {
  background: url(http://static.plifk.com/images/plifk.v1.png) no-repeat #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}
#usermenu {
  margin-top: 1em;
  margin-left: -2em;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: #ffffc5;
  display: table;
  overflow: hidden;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}
#usermenu .avatar {
  float: left;
  text-align: right;
  display: inline-table;
  width: 7.8em;
  min-width: 7.8em;
  min-height: 5em;
  height: 5.1em;
}
#usermenu .userinfo {
  min-width: 34em;
  max-width: 53em;
  float: right;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -radius: 6px;
  padding-left: 1.5em;
  padding-right: 1em;
}
#usermenu ul { line-height: 1em; }
#usermenu ul li.you { color: #222222; }
#usermenu h2 {
  margin: 0;
  padding: 0;
  font-size: 245%;
}
#usermenu h2 .you {
  font-size: 100%;
  margin-left: 0.3em;
}
#usermenu ul {
  margin: 0;
  margin-top: 0.6em;
}
#usermenu ul li {
  display: inline;
  margin-right: 1.5em;
}
#usermenu ul li a {
  font-weight: bold;
  font-size: 120%;
}
#usermenu ul li a { text-decoration: none; }
#usermenu ul li a:link {
  border-bottom: 3px solid #5a98f3;
  color: black;
}
#usermenu ul li a:visited {
  border-bottom: 3px solid #5a98f3;
  color: black;
}
#usermenu ul li a:active {
  border-bottom: 3px solid #375b94;
  color: #121212;
}
#usermenu ul li a:hover {
  border-bottom: 3px solid #375b94;
  color: #121212;
}
#usermenu ul li.active a { border-bottom: 3px solid #172840; }
#usermenu h2 a { text-decoration: none; }
#usermenu h2 a:link { color: #000000; }
#usermenu h2 a:visited { color: #000000; }
#usermenu h2 a:active {
  color: #000000;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -radius: 6px;
  background: #ffffce;
}
#usermenu h2 a:hover {
  color: #000000;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -radius: 6px;
  background: #ffffce;
}
ul#thetags {
  line-height: 1em;
  margin-top: 0.6em;
}
#thetags li a { text-decoration: none; }
#thetags li a.delete {
  font-size: 120%;
  margin-left: 0.2em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  color: #ff0000;
  background: #ffffff url(http://static.plifk.com/images/sprites0.v1.png) no-repeat -9px -155px;
  font-family: monospace;
  position: relative;
}
#nav-bar {
  margin-right: 1em;
  float: right;
}
#nav-bar ul { padding-top: 0.4em; }
#nav-bar ul li {
  list-style-type: none;
  display: inline;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
#nav-bar ul li.first {
  font-size: 78%;
  margin-left: 0;
  margin-right: 2em;
  text-transform: lowercase;
}
#nav-bar ul li.first a {
  font-size: 200%;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding-left: 0;
  margin-left: 0.6em;
}
#nav-bar ul.unsigned { text-align: right; }
#nav-bar ul.unsigned li {
  font-size: 120%;
  font-weight: bold;
}
#nav-bar ul.unsigned li a { padding: 1em; }
#nav-bar ul li a { text-decoration: none; }
.accountside { text-align: right; }
.verticalmenu { margin: 0; }
.verticalmenu li { list-style-type: none; }
.verticalmenu li a {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: block;
  margin: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1.2em;
  padding-right: 0.8em;
  text-decoration: none;
  font-weight: bold;
  border-left: 1em solid #2ea4ae;
}
.verticalmenu li a:hover {
  border-left: 1em solid #000064;
  color: #000064;
  background: #eeeeee;
}
.verticalmenu li a:active {
  border-left: 1em solid #000064;
  color: #000064;
  background: #eeeeee;
}
.verticalmenu li.active a {
  border-left: 1em solid #444444;
  color: #444444;
  background: #f5f5f5;
}
#nav-account { float: right; }
#nav-account li a { width: 6em; }
#nav-account li {
  display: inline;
  margin-right: 2em;
}
#nav-account li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 6px;
  -radius: 6px;
  background: #fafafa;
  padding: 1em;
  font-weight: bold;
}
#nav-account li a:active { text-decoration: underline; }
#nav-account li a:hover { text-decoration: underline; }
#nav-account li.active a {
  background: #efefef;
  color: #444444;
  text-decoration: none;
}
#nav-account li a { text-decoration: none; }
#sharelist { overflow: hidden; }
a.download-link {
  font-size: x-small;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0;
  background: #002fa7;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -radius: 6px;
}
#sharelist .file-info {
  font-size: x-small;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0;
  background: #002fa7;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -radius: 6px;
}
#sharelist .file-info { color: white; }
#sharelist .warning {
  color: #ff0000;
  background: white;
}
a.download-link:link {
  background: #0041e6;
  color: #ffffff;
}
a.download-link:visited {
  background: #0041e6;
  color: #ffffff;
}
a.download-link:hover {
  background: #00009c;
  color: #ffffff;
}
a.download-link:active {
  background: #23a3ff;
  color: #000000;
}
#sharelist p.shortdesc {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0;
  margin-left: 0.85em;
  font-size: large;
  text-align: left;
}
#sharelist .longdesc-notice {
  color: #3f3f3f;
  margin-left: 1.5em;
}
#sharelist h3 a {
  text-align: left;
  font-size: x-large;
  display: block;
  padding: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1.5em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -radius: 6px;
}
#sharelist h3 a:link {
  background: #fcfcfc;
  color: #132d6f;
}
#sharelist h3 a:visited {
  background: #fcfcfc;
  color: #132d6f;
}
#sharelist h3 a:hover {
  color: white;
  background: #132d6f;
}
#sharelist h3 a:active {
  color: white;
  background: #23a3ff;
}
#sharelist div.info {
  margin: 0;
  padding: 1em;
  margin-bottom: 4em;
  background: #fafafa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -radius: 6px;
  width: 65%;
}
#sharelist div.info .published-at {
  margin: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: large;
  text-align: center;
  background: #fcfcfc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -radius: 6px;
}
#sharelist div.info ul {
  margin: 0;
  margin-top: 1em;
  display: table;
}
#sharelist div.info ul li {
  list-style-type: none;
  float: left;
  margin-right: 0.3em;
}
#sharelist div.info h3 {
  margin: 0;
  width: 100%;
  overflow: hidden;
}
#sharelist table tbody tr td {
  font-family: sans-serif;
  border: none;
}
#sharelist table tbody tr td.key {
  text-align: right;
  font-weight: bold;
}
#metasidebar h3 {
  font-size: 100%;
  margin: 0;
}
#metasidebar .shortdesc { margin-top: 1.6em; }
#metasidebar .shortdesc p { margin-top: 0.4em; }
#file-metadata {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
#file-metadata tr { word-break: break-all; }
#file-metadata tr td { border: none; }
#file-metadata tr.odd { background: #f6f6f6; }
#file-metadata tr.even { background: #8ca6e6; }
#file-metadata tr td.key { text-align: right; }
#file-metadata tr td.value {
  max-width: 170px;
  display: block;
  overflow: hidden;
}
#file-metadata .md5sum { font-size: 50%; }
#file-metadata .small-filetype { font-size: 50%; }
.x-small-font { font-size: x-small; }
.xx-small-font { font-size: xx-small; }
#sharemaster {
  width: 100%;
  display: block;
  font-family: monospace;
  margin: 0;
  text-align: center;
}
ul#sharemaster { line-height: 1em; }
#sharemaster li {
  list-style-type: none;
  font-weight: bold;
  text-transform: uppercase;
  display: inline;
}
#sharemaster li a {
  text-decoration: none;
  color: #00009c;
}
#sharemaster li.edit { margin-right: 2.5em; }
#sharemaster li.delete { margin-left: 2.5em; }
#tweet-box { margin-top: 1.6em; }
#tweet-box #tweet-element #tweet {
  width: 14em;
  height: 7em;
  color: #444444;
}
#tweet-box #tweet-element .description {
  color: #ec5800;
  margin-bottom: 0;
  letter-spacing: 0.1em;
}
#twitter-servicemsg {
  font-weight: bold;
  min-height: 1.6em;
}
#twitter-servicemsg p {
  margin-top: 0;
  font-size: 90%;
}
#twitter-servicemsg .sent {
  color: #232cab;
  letter-spacing: 0.1em;
}
#twitter-servicemsg .error {
  color: #cc3333;
  letter-spacing: 0.1em;
}
.tweetchar {
  margin-left: 0.5em;
  font-weight: bold;
  min-width: 3.2em;
  display: inline-block;
  text-align: right;
  color: #cccccc;
}
.tweetcharok { color: #5c0003; }
.tweetchartoomuch { color: #d40d12; }
#commentPreview, #descriptionBox {
  background: #f9f9f9;
  border: 1px solid #eaeaea;
  padding: 1em;
  margin-bottom: 1.5em;
}
#comments h3 { margin-top: 0.6em; }
#comments div.block {
  display: table;
  margin-bottom: 2.4em;
  width: 100%;
}
#comments div.block hr {
  border: 0;
  border-bottom: 1px solid #efefef;
}
#comments div .uimg {
  float: left;
  padding-right: 1em;
}
#comments div .commentmeta {
  margin: 0;
  padding: 0;
}
#commentPost-element, #commentPost-label, #getCommentPreview-label, #getCommentPreview-element { display: inline; }
#tags-element, #tags, #tagsSubmit-label, #tagsSubmit-element, #tagsSubmit {
  margin: 0;
  display: inline;
}
#thetags li {
  margin-top: 0.3em;
  list-style-type: none;
  margin-left: -20px;
  padding-left: 16px;
  background: url(http://static.plifk.com/images/sprites0.v1.png) -10px -128px no-repeat;
}
#downloadlinks {
  margin: 0;
  padding: 0;
  color: #0070ff;
  text-align: center;
}
ul#downloadlinks { line-height: 1em; }
#downloadlinks li { list-style-type: none; }
#downloadlinks .main {
  font-size: 180%;
  font-weight: bold;
}
#downloadlinks .main a {
  text-decoration: none;
  padding: 0.5em;
  margin: 0;
  background: #002fa7;
  display: block;
  text-indent: 1.6em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -radius: 6px;
  margin-bottom: 0.5em;
}
#downloadlinks .main a:link {
  background: #0041e6 url(http://static.plifk.com/images/sprites0.v1.png) -1px -47px no-repeat;
  color: #ffffff;
}
#downloadlinks .main a:visited {
  background: #0041e6 url(http://static.plifk.com/images/sprites0.v1.png) -1px -47px no-repeat;
  color: #ffffff;
}
#downloadlinks .main a:hover {
  background: #00009c url(http://static.plifk.com/images/sprites0.v1.png) -1px -4px no-repeat;
  color: #ffffff;
}
#downloadlinks .main a:active {
  background: #23a3ff url(http://static.plifk.com/images/sprites0.v1.png) -1px -4px no-repeat;
  color: #000000;
}
p#description {
  margin-top: 0;
  margin-bottom: 5em;
}
table.styled { text-align: center; }
table.styled thead tr th {
  background: #eeeeee;
  border: none;
}
table.styled tbody tr td {
  border: none;
  border-bottom: 1px solid #eeeeee;
}
table.styled tfoot tr td {
  border: none;
  background: #f4f4f4;
}
table.styled td.left { text-align: left; }
table.contacts th.since { width: 130px; }
table.contacts th.name { width: 150px; }
table.contacts th.relationship { width: 110px; }
#contactrels li {
  list-style-type: none;
  margin-top: 1em;
}
#contactrels li .first { margin: 0; }
h2.mainpage { color: #4f4f4f; }
a.bigjoin, a.big {
  font-size: 148%;
  font-weight: bold;
  text-decoration: none;
}
a.bigjoin { padding-left: 1em; }
#doc2 {
  padding-top: 1.5em;
  background: #ffffff;
}
#doc2, #ft {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -radius: 6px;
}
#ft { background: #f1f1f1 url(http://static.plifk.com/images/footer.v1.png) no-repeat 1.3em center; }
#ft ul {
  padding-top: 1em;
  text-align: center;
}
#ft ul li {
  list-style-type: none;
  display: inline;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
#ft ul li.first {
  color: #c4c4c4;
  padding-left: 5.2em;
  letter-spacing: 0.4em;
}
form dl.zend_form #file-0 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: block;
}
form dl.zend_form #file-1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: block;
}
form dl.zend_form #file-2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: block;
}
form dl.zend_form #file-3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: block;
}
form dl.zend_form #file-4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: block;
}
form dl.zend_form #file-5 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: block;
}
#bandwidth, #uploadprogress {
  height: 2em;
  width: 22em;
  font-family: Courier;
}
#bandwidth .used {
  height: 1.6em;
  padding-top: 0.4em;
  text-align: center;
  float: left;
}
#uploadprogress .percentage {
  height: 1.6em;
  padding-top: 0.4em;
  text-align: center;
  float: left;
}
#bandwidth .used {
  background: #ff1e1e;
  color: white;
}
#bandwidth .available {
  height: 1.6em;
  background: #00df00;
  padding-top: 0.4em;
  text-align: center;
}
#uploadprogress { background: #b9cdff; }
#uploadprogress .percentage {
  background: #0048ff;
  color: #ffffff;
  font-weight: bold;
  width: 0;
}
#tour-screenshots { text-align: center; }
#tour-screenshots p { text-align: center; }
#tour-screenshots img { border: 1px solid #e5e5e5; }
#home-page h2 {
  font-size: 390%;
  font-weight: normal;
  overflow: hidden;
  display: block;
  color: #4f4f4f;
  margin-top: 0.38em;
  margin-bottom: 0.2em;
  line-height: 1.17em;
}
#home-page h2 small {
  font-size: 50%;
  line-height: 0.5em;
}
#home-page img {
  float: left;
  margin-top: 0.8em;
  margin-bottom: 1.2em;
}
#home-page p.home-info {
  margin-top: 90px;
  margin-bottom: 2em;
}
#home-buttons {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -radius: 6px;
  display: table;
  list-style-type: none;
  margin: 0;
  width: 650px;
  height: 80px;
  min-height: 80px;
}
#home-buttons li { display: block; }
#home-buttons li.join { float: left; }
#home-buttons li.tour { float: left; }
#home-buttons li.about { float: left; }
#home-buttons li.join {
  width: 200px;
  height: 7.65em;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  background: #a9cfff;
}
#home-buttons li.tour {
  background: #e3e190;
  width: 200px;
  height: 7.65em;
}
#home-buttons li.tour p {
  font-size: x-large;
  text-align: left;
  display: block;
  margin: 0;
}
#home-buttons li.join p {
  font-size: x-large;
  text-align: left;
  display: block;
  margin: 0;
}
#home-buttons li.tour p {
  padding: 1em;
  padding-top: 0.6em;
  padding-bottom: 0;
}
#home-buttons li.join p { padding: 0.5em; }
#home-buttons li p a:link { color: #0c2e93; }
#home-buttons li p a:visited { color: #0c2e93; }
#home-buttons li p a:hover { color: #001759; }
#home-buttons li p a:active { color: #001759; }
#home-buttons li.about {
  background: #006600;
  width: 250px;
  height: 5.5em;
  font-size: large;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}
#home-buttons li.about p {
  color: white;
  font-size: x-large;
  margin: 1em;
  margin-top: 0.6em;
  margin-bottom: 0;
  text-align: left;
}
p.home-info {
  color: #4f4f4f;
  font-family: Verdana, Geneva;
  font-size: 120%;
  text-align: left;
}
::-moz-selection, selection {
  background: #3b80c1;
  color: #ffffff;
}
