<div class="aside-similar-offers search-facets hidden-phone">
<dl>
    <dt>Usuário</dt>
    <dd class="search-users">
        <ul>
            <%= termListHtmlElements("u", facets["u"].terms, formSerialized, currentQueryStringParams) %>
        </ul>
    </dd>
    <dt>Tipo</dt>
    <dd class="search-types">
        <ul>
            <%= termListHtmlElementsType(facets["type"].terms, formSerialized, currentQueryStringParams) %>
        </ul>
    </dd>
    <dt>Marca</dt>
    <dd>
        <ul>
            <%= termListHtmlElements("make", facets["make"].terms, formSerialized, currentQueryStringParams) %>
        </ul>
    </dd>
    <dt>Modelo</dt>
    <dd>
        <ul>
            <%= termListHtmlElements("model", facets["model"].terms, formSerialized, currentQueryStringParams) %>
        </ul>
    </dd>
    <dt>Localização</dt>
    <dd>
        <ul>
            <%= termListHtmlElements("where", facets["where"].terms, formSerialized, currentQueryStringParams) %>
        </ul>
    </dd>
    <dt>Ano do modelo</dt>
    <dd>
        <ul>
            <%= termListHtmlElements("year", facets["year"].terms, formSerialized, currentQueryStringParams) %>
        </ul>
    </dd>
    <dt>Preço</dt>
    <dd>
        <input type="text" class="input-small price-inputs price-min-input"
        placeholder="R$ min" title="digite e pressione enter"/>
        <br />
        <input type="text" class="input-small price-inputs price-max-input"
        placeholder="R$ max" title="digite e pressione enter" />
    </dd>
    <dt>Transmissão</dt>
    <dd>
        <ul>
            <%= termListHtmlElements("transmission", facets["transmission"].terms, formSerialized, currentQueryStringParams, transmissionTranslation) %>
        </ul>
    </dd>
    <dt>Tração</dt>
    <dd>
        <ul>
            <%= termListHtmlElements("traction", facets["traction"].terms, formSerialized, currentQueryStringParams, tractionTranslation) %>
        </ul>
    </dd>
    <dt>
        Especiais
    </dt>
    <dd>
        <ul>
            <%= termListHtmlElementsBool("armor", facets["armor"].terms, formSerialized, currentQueryStringParams, "blindado") %>
            <%= termListHtmlElementsBool("handicapped", facets["handicapped"].terms, formSerialized, currentQueryStringParams, "deficiente físico") %>
        </ul>
    </dd>
</dl>
<%
if (searchParamsTotal > 1) {
%>
<button class="btn btn-mini remove-filters" type="reset">remover filtros</button>
<%
}
%>
</div>
