<div class="aside-similar-offers search-facets hidden-phone">
<dl>
    <dt>Loja</dt>
    <dd class="search-users">
        <ul>
            <%= termListHtmlElements("u", facets["u"].terms, formSerialized, currentQueryStringParams) %>
        </ul>
    </dd>
    <dt>Tipo</dt>
    <dd class="search-types">
        <ul>
            <%= termListHtmlElementsType(facets["type"].terms, formSerialized, currentQueryStringParams) %>
        </ul>
    </dd>
    <dt>Marca</dt>
    <dd>
<%
var makeTermsLength = facets["make"].terms.length;

if (makeTermsLength > 4) {
%>
        <input type="checkbox" id="read-more-make" class="read-more-checkbox" role="button">
<%
}
%>
        <ul>
            <%= termListHtmlElements("make", facets["make"].terms, formSerialized, currentQueryStringParams) %>
        </ul>
<%
if (makeTermsLength > 4) {
%>
        <label for="read-more-make" class="read-more-label"><span class="hidden">mostrar tudo</span></label>
<%
}
%>
    </dd>
    <dt>Modelo</dt>
    <dd>
<%
var modelTermsLength = facets["model"].terms.length;

if (modelTermsLength > 4) {
%>
        <input type="checkbox" id="read-more-model" class="read-more-checkbox" role="button">
<%
}
%>
        <ul>
            <%= termListHtmlElements("model", facets["model"].terms, formSerialized, currentQueryStringParams) %>
        </ul>
<%
if (modelTermsLength > 4) {
%>
        <label for="read-more-model" class="read-more-label"><span class="hidden">mostrar tudo</span></label>
<%
}
%>
    </dd>
    <dt>Localização</dt>
    <dd>
<%
var whereTermsLength = facets["where"].terms.length;

if (whereTermsLength > 4) {
%>
        <input type="checkbox" id="read-more-where" class="read-more-checkbox" role="button">
<%
}
%>
        <ul>
            <%= termListHtmlElements("where", facets["where"].terms, formSerialized, currentQueryStringParams) %>
        </ul>
<%
if (whereTermsLength > 4) {
%>
        <label for="read-more-where" class="read-more-label"><span class="hidden">mostrar tudo</span></label>
<%
}
%>
    </dd>
    <dt>Ano do modelo</dt>
    <dd>
<%
var yearTermsLength = facets["year"].terms.length;

if (yearTermsLength > 4) {
%>
        <input type="checkbox" id="read-more-year" class="read-more-checkbox" role="button">
<%
}
%>
        <ul>
            <%= termListHtmlElements("year", facets["year"].terms, formSerialized, currentQueryStringParams) %>
        </ul>
<%
if (yearTermsLength > 4) {
%>
        <label for="read-more-year" class="read-more-label"><span class="hidden">mostrar tudo</span></label>
<%
}
%>
    </dd>
    <dt>Preço</dt>
    <dd>
        <input type="text" class="input-small price-inputs price-min-input"
        placeholder="R$ min" title="digite e pressione enter"/>
        <br />
        <input type="text" class="input-small price-inputs price-max-input"
        placeholder="R$ max" title="digite e pressione enter" />
    </dd>
    <dt>Câmbio</dt>
    <dd>
        <ul>
            <%= termListHtmlElements("transmission", facets["transmission"].terms, formSerialized, currentQueryStringParams, transmissionTranslation) %>
        </ul>
    </dd>
    <dt>Tração</dt>
    <dd>
        <ul>
            <%= termListHtmlElements("traction", facets["traction"].terms, formSerialized, currentQueryStringParams, tractionTranslation) %>
        </ul>
    </dd>
    <dt>
        Especiais
    </dt>
    <dd>
        <ul>
            <%= termListHtmlElementsBool("armor", facets["armor"].terms, formSerialized, currentQueryStringParams, "blindado") %>
            <%= termListHtmlElementsBool("handicapped", facets["handicapped"].terms, formSerialized, currentQueryStringParams, "deficiente físico") %>
            <%= termListHtmlElementsBool("collection", facets["collection"].terms, formSerialized, currentQueryStringParams, "colecionador") %>
        </ul>
    </dd>
</dl>
<%
if (searchParamsTotal > 1) {
%>
<button class="btn btn-mini remove-filters" type="reset">remover filtros</button>
<%
}
%>
</div>
